@import "tailwindcss";

@font-face {
  font-family: Inter;
  src:
    local('Inter'),
    url(/Inter.woff2) format('woff2');
}

:root {
  font-family: Inter, "Inter", system-ui;
}

html,
body {

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
